body {
	background-color: #fcbc80;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

	color: #000000;
}


td,th,font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	text-decoration: none;
	font-weight: bolder;
}

a.yel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffff00;
	text-decoration: none;
	font-weight: bolder;
}


}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	text-decoration: none;
	font-size: 10px;
}


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bolder;
	color: #330000;
	text-decoration: none;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bolder;
	color: #666600;
	text-decoration: none;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bolder;
	color: #666600;
	text-decoration: none;
}

img
{
border-color: 000000;
}

input
{
border: 1 black solid;
background-color: ffddaa;
color: black;
font-family: verdana;
font-size:10px;
}
input.shift
{
  width:20px;
  border-style:none;
  background-color: #fcbc80;
  text-align:center;
  font-weight: bolder;
  margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

select
{
border: 1 black solid;
background-color: ffddaa;
color: black;
font-family: verdana;
font-size:10px;
}

textarea
{
border: 1 black solid;
background-color: ffddaa;
font-family: verdana;
font-size:10px;
}
